Phase 3/knn_log_n.pkl
Phase 3/linreg.pkl
Phase 3/logreg.pkl
Phase 3/random_forest.pkl
Phase 5/neural_network_model.pkl.bak_1746481965
Phase 5/new_data.csv
Phase 5/saved_model - Copy.pkl
Phase 5/saved_model.pkl
