@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.prediction {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow:
      0 0 5px #00eaff,
      0 0 10px #00eaff;
  }
  to {
    text-shadow:
      0 0 15px #00eaff,
      0 0 25px #00eaff;
  }
}
